<div>
    <app-dashboard></app-dashboard>

    <div class="main-right-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-shot">

                        <div class="row">

                            <div class="col-6">
                                <h1 class="heading1">Persistency</h1>
                                <span class="last-date">last updated: 07/10/23</span>
                            </div>

                            <div class="col-6">
                                <div class="data-chart-tabs">
                                    <div class="notification-bell">
                                        <img src="../../../assets/images/notification.svg" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>